/* Estilos personalizados */
body {
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}

header {
    text-align: center;
}

#message {
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}

.removido {
    color: red;
}


